---
# アクセス修飾子のインデント
AccessModifierOffset: 0

# 引数は左揃え
AlignAfterOpenBracket: Align

# 初期化子リストを左揃え
AlignArrayOfStructures: Left

# enum定数を項目毎に改行する
AllowShortEnumsOnASingleLine: false

# 短い関数を単一行にしない
AllowShortFunctionsOnASingleLine: None

# "{ }"の位置をカスタム設定する
BreakBeforeBraces: Custom

# 1行の文字数を制限する (0で無制限)
ColumnLimit: 0

# includeを名前順にソートする
IncludeBlocks: Preserve

# swicth分のcaseにインデントを設定する
IndentCaseLabels: false

# インデント
IndentWidth: 2

# ポインターの"*"、"&"は変数宣言の左に記述する
PointerAlignment: Right

# コメントは改行しない
ReflowComments: false

# キャストの後ろにスペースを入れない
SpaceAfterCStyleCast: false

# 制御文の"("の前にスペースを入れる
SpaceBeforeParens: ControlStatements

# コメントの前にスペース入れる
SpacesBeforeTrailingComments: 2